<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="indi.smt.uno.crawler.dao.CategoryMapper">
    <resultMap id="BaseResultMap" type="indi.smt.uno.crawler.entity.Category">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="domain" property="domain" jdbcType="VARCHAR"/>
        <result column="cateName" property="cateName" jdbcType="VARCHAR"/>
        <result column="parentName" property="parentName" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Criteria_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Criteria_Where_Clause">
        <where>
            <foreach collection="criteria.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, domain, cateName, parentName
  </sql>
    <select id="selectByCriteria" resultMap="BaseResultMap"
            parameterType="indi.smt.uno.crawler.entity.CategoryCriteria">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List"/>
        from category
        <if test="_parameter != null">
            <include refid="Criteria_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="limitStart != null and limitStart>=0">
            limit #{limitStart} , #{limitEnd}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from category
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from category
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByCriteria" parameterType="indi.smt.uno.crawler.entity.CategoryCriteria">
        delete from category
        <if test="_parameter != null">
            <include refid="Criteria_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="indi.smt.uno.crawler.entity.Category">
    insert into category (id, domain, cateName, 
      parentName)
    values (#{id,jdbcType=INTEGER}, #{domain,jdbcType=VARCHAR}, #{cateName,jdbcType=VARCHAR}, 
      #{parentName,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="indi.smt.uno.crawler.entity.Category">
        insert into category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="domain != null">
                domain,
            </if>
            <if test="cateName != null">
                cateName,
            </if>
            <if test="parentName != null">
                parentName,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="domain != null">
                #{domain,jdbcType=VARCHAR},
            </if>
            <if test="cateName != null">
                #{cateName,jdbcType=VARCHAR},
            </if>
            <if test="parentName != null">
                #{parentName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByCriteria" parameterType="indi.smt.uno.crawler.entity.CategoryCriteria"
            resultType="java.lang.Integer">
        select count(*) from category
        <if test="_parameter != null">
            <include refid="Criteria_Where_Clause"/>
        </if>
    </select>
    <update id="updateByCriteriaSelective" parameterType="map">
        update category
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.domain != null">
                domain = #{record.domain,jdbcType=VARCHAR},
            </if>
            <if test="record.cateName != null">
                cateName = #{record.cateName,jdbcType=VARCHAR},
            </if>
            <if test="record.parentName != null">
                parentName = #{record.parentName,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Criteria_Where_Clause"/>
        </if>
    </update>
    <update id="updateByCriteria" parameterType="map">
        update category
        set id = #{record.id,jdbcType=INTEGER},
        domain = #{record.domain,jdbcType=VARCHAR},
        cateName = #{record.cateName,jdbcType=VARCHAR},
        parentName = #{record.parentName,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Criteria_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="indi.smt.uno.crawler.entity.Category">
        update category
        <set>
            <if test="domain != null">
                domain = #{domain,jdbcType=VARCHAR},
            </if>
            <if test="cateName != null">
                cateName = #{cateName,jdbcType=VARCHAR},
            </if>
            <if test="parentName != null">
                parentName = #{parentName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="indi.smt.uno.crawler.entity.Category">
    update category
    set domain = #{domain,jdbcType=VARCHAR},
      cateName = #{cateName,jdbcType=VARCHAR},
      parentName = #{parentName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <sql id="Model_Where_Clause">
        <where>
            <if test="id != null">
                and id=#{id}
            </if>
            <if test="domain != null">
                and domain=#{domain}
            </if>
            <if test="cateName != null">
                and cateName=#{cateName}
            </if>
            <if test="parentName != null">
                and parentName=#{parentName}
            </if>
        </where>
    </sql>
    <select id="countByModel" parameterType="indi.smt.uno.crawler.entity.Category" resultType="java.lang.Integer">
        select count(*) from category
        <if test="_parameter != null">
            <include refid="Model_Where_Clause"/>
        </if>
    </select>
    <select id="selectByModel" resultMap="BaseResultMap" parameterType="indi.smt.uno.crawler.entity.Category">
        select
        <include refid="Base_Column_List"/>
        from category
        <if test="_parameter != null">
            <include refid="Model_Where_Clause"/>
        </if>
    </select>
    <select id="selectByDomainAndCateName" resultType="java.lang.Integer">
        select `id` from category where `domain` = #{d,jdbcType=VARCHAR} and `cateName` = #{c,jdbcType=VARCHAR};
    </select>
    <!--批量插入-->
    <insert id="insertBatch" parameterType="indi.smt.uno.crawler.entity.Category">
    insert into category
        (`domain`, cateName, parentName)
    values
        <foreach collection ="list" item="cate" separator =",">
            (#{cate.domain,jdbcType=VARCHAR}, #{cate.cateName,jdbcType=VARCHAR}, #{cate.parentName,jdbcType=VARCHAR})
        </foreach >
    </insert>
    <cache/>
</mapper>