<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
    <footer th:fragment="footer">
        <!-- BOTTOM BANNER -->
        <div id="bottom-banner" class="container text-center">
            <!-- BOTTOM ADVERTISE BOX -->
            <a href="" class="banner-xl">
                <img src="/static/img/banners/banner-xl.jpg" class="img-responsive"
                     alt="Buy Now Muvee Reviews Bootstrap HTML5 Template"
                     title="Buy Now Muvee Reviews Bootstrap HTML5 Template">
            </a>
        </div>
        <!-- FOOTER -->
        <div id="footer" class="container-fluid footer-background">
            <div class="container">
                <footer>
                    <!-- SECTION FOOTER -->
                    <div class="row">
                        <!-- SOCIAL -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="row auto-clear">
                                <div class="col-md-12">
                                </div>
                                <div class="col-md-12">
                                    <ul class="social">
                                        <li class="social-facebook"><a href="#" class="fa fa-facebook social-icons"></a></li>
                                        <li class="social-google-plus"><a href="#" class="fa fa-google-plus social-icons"></a>
                                        </li>
                                        <li class="social-twitter"><a href="#" class="fa fa-twitter social-icons"></a></li>
                                        <li class="social-youtube"><a href="#" class="fa fa-youtube social-icons"></a></li>
                                        <li class="social-rss"><a href="#" class="fa fa-rss social-icons"></a></li>
                                    </ul>
                                </div>
                                <div class="col-md-12">
                                    <p>Aliquam feugiat turpis quis felis adipiscing, non pulvinar odio lacinia. Aliquam
                                        elementum pharetra fringilla. Duis blandit, sapien in semper vehicula, tellus elit
                                        gravida odio, ac tincidunt nisl mi at ante. Vivamus tincidunt nunc nibh. Duis blandit,
                                        sapien in semper vehicula</p>
                                </div>
                            </div>
                        </div>
                        <!-- TAGS -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <h2 class="title">popular tags</h2>
                            <ul class="footer-tags">
                                <li><a href="#">videos</a></li>
                                <li><a href="#">premium</a></li>
                                <li><a href="#">hair</a></li>
                                <li><a href="#">beauty</a></li>
                                <li><a href="#">ranking</a></li>
                                <li><a href="#">lifestyle</a></li>
                                <li><a href="#">sport</a></li>
                                <li><a href="#">money</a></li>
                                <li><a href="#">comments</a></li>
                            </ul>
                        </div>
                        <!-- POST -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <h2 class="title">PREMIUM inside?</h2>
                            <div class="row auto-clear">
                                <div class="col-lg-6 col-md-6 col-sm-6 post post-medium">
                                    <div class="thumbr">
                                        <a class="post-thumb" href="" data-lity title="Video Title Goes Here">
                                    <span class="play-btn-border" title="Play"><i
                                            class="fa fa-play-circle headline-round" aria-hidden="true"></i></span>
                                            <div class="cactus-note ct-time font-size-1"><span>02:02</span></div>
                                            <img class="img-responsive" src="/static/img/thumbs/thumb-s.jpg" alt="#">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 post post-medium">
                                    <div class="thumbr">
                                        <a class="post-thumb" href="" data-lity title="Video Title Goes Here">
                                    <span class="play-btn-border" title="Play"><i
                                            class="fa fa-play-circle headline-round" aria-hidden="true"></i></span>
                                            <div class="cactus-note ct-time font-size-1"><span>02:02</span></div>
                                            <img class="img-responsive" src="/static/img/thumbs/thumb-s2.jpg" alt="#">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 post post-medium">
                                    <div class="thumbr">
                                        <a class="post-thumb" href="" data-lity title="Video Title Goes Here">
                                    <span class="play-btn-border" title="Play"><i
                                            class="fa fa-play-circle headline-round" aria-hidden="true"></i></span>
                                            <div class="cactus-note ct-time font-size-1"><span>02:02</span></div>
                                            <img class="img-responsive" src="/static/img/thumbs/thumb-s4.jpg" alt="#">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 post post-medium">
                                    <div class="thumbr">
                                        <a class="post-thumb" href="" data-lity title="Video Title Goes Here">
                                    <span class="play-btn-border" title="Play"><i
                                            class="fa fa-play-circle headline-round" aria-hidden="true"></i></span>
                                            <div class="cactus-note ct-time font-size-1"><span>02:02</span></div>
                                            <img class="img-responsive" src="/static/img/thumbs/thumb-s3.jpg" alt="#">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- LINKS -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <h2 class="title">most viewed</h2>
                            <ul class="footer-menu-links">
                                <li class="fa fa-chevron-right"><a href="#">About Us</a></li>
                                <li class="fa fa-chevron-right"><a href="#">Categories</a></li>
                                <li class="fa fa-chevron-right"><a href="#">Features</a></li>
                                <li class="fa fa-chevron-right"><a href="#">Pages</a></li>
                                <li class="fa fa-chevron-right"><a href="#">Gallery</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row copyright-bottom text-center">
                        <div class="col-md-12 text-center">
                            <a href="" class="footer-logo" title="Video Magazine Bootstrap HTML5 template">
                                <img src="/static/img/footer-logo.png" class="img-responsive text-center"
                                     alt="Video Magazine Bootstrap HTML5 template">
                            </a>
                            <p>Copyright &copy; 2017.Company name All rights reserved.<a target="_blank"
                                                                                         href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
                            </p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </footer>
</html>